*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.table{
    width: 70%;
    margin: auto;
    border-collapse: collapse;
}
.table th,
.table td{
    border: 1px solid crimson;
    padding: 8px;
}
.table th{
    background: crimson;
    color: #fff;
}
/* odd = har toq child */
/* even = har juft child */
.table tbody tr:nth-child(even){
    background-color: #fff3f5;
}
.table tbody tr:nth-child(4) td:nth-child(2){
    background-color: dodgerblue;
}




.box{
    width: 400px;
    height: 300px;
    background: url("./IMAGE\ \(4\).png") no-repeat center/cover;
    margin: 30px auto;

    position: relative;
    overflow: hidden;
}
.box::before{
    content: "";
    position: absolute;
    top: 0;
    right: 100%;

    width: 100%;
    height: 100%;
    background: #0006;
    transition: .5s;
}
.box:hover::before{
    right: 50%;
}
.box:hover::after{
    left: 50%;
}
.box::after{
    content: "";
    position: absolute;
    top: 0;
    left: 100%;

    width: 100%;
    height: 100%;
    transition: .5s;
    background: #0006;
}